* {
    font-size: 13px;
}
a{
    text-decoration: none;
}
.cont-table {
    margin: 0 auto;
    padding: 5px;
}
.table {
    width: 90%;
    margin: 0 auto;
}
th td{
    border: solid 1px #71cdf1;
    padding: 1px;
}
th {
    background-color: #00161F;
    border: solid 1px #ABD8DE;
    color: #D8FFFF;
}
td {
    border: solid 1px #7ed0f0;
}
.par {
    background-color: #74BD9E;
}
.none {    
    background-color: #99C6CC ;
}
.par .none:hover {
    background-color: #00000091;
    color: #fff;
}
.button-cont {
    display: flex;
    justify-items: center;
    justify-content: start;
    margin-left: 450px;
}
.button-entradas {
    margin-left: 30px;
    margin-bottom: 10px;
    color: #000;
    font-size: medium;
    padding: 5px;
    width: 150px;
    border-radius: 7px;
    border: solid 1px #121e22;
}
.button-entradas:hover {
    background-color: #aef3dc;
}
.hover:hover {
    background-color: #063f49;
    color: #0b1629;
}

.cont-mensaje {
    display: flex;
    justify-content: center;
}

.button-menu {
    background-color: #ABD8DE;
    margin-left: 20px;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(171, 216, 222, 0.32);
    -moz-box-shadow: 0px 4px 5px 0px rgba(171, 216, 222, 0.32);
    box-shadow: 0px 4px 5px 0px rgba(171, 216, 222, 0.32);
    padding: 5px;
    border-radius: 7px;
    text-decoration: none;
    color: #00161F;
    width: 200px;
}
.button-menu:hover {
    background-color: #00161F;
    color: #aef3dc;
}
.img-teckio {
    width: 170px;
}

.element-menu {
    display: flex;
    justify-content: end;
    margin-right: 100px;
    margin-top: 10px;
}

a {
    color: #00161F ;
}